

.contrape{

    display: flex;
    width: 100%;
    height: 100%;
    background-color: #000000;
    justify-content: space-around;
    align-items: center;
    

}

hr.linha{
    
    border-color: #be151e;

}

p.texto2{

    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin-right: 5%;
   
}
.esquerdo{
    width:100%;
    align-items: center;
    margin-left: 5%;
}
.meio{
    width:100%;
}
.direito{
    width:100%;
}