
body {
    
    background-image: linear-gradient(to top, #be151e, black 80%);
    margin: 0;
    
    }
   

.corpo{
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    padding-bottom: 10%;
    
    
    
    

}


.aba1{
    
    display: flex;
    padding-bottom: 2%;
    width: 35%;
    flex-direction: column;
    border-radius:10%;
    align-items: center;
    justify-content: center;
    
    
    
    
    
  
    
}

.imgfilm{
    
    display: flex;
    flex-direction: column;
    width: 25%;
    
    border-radius:10%;
    align-items: center;
    justify-content: center;
    
    
}

.cartaz1 img{

    display:flex;
    max-width: 100% ;
    max-height: 100%;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;


}
.cartaz2 img{

    display:flex;
    max-width: 100% ;
    max-height: 100%;
    


}
.cartaz3 img{

    display:flex;
    max-width: 100% ;
    max-height: 100%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;


}

.aba3{
    padding-bottom: 20%;
    display: flex;
    padding-bottom: 2%;
    width: 35%;
    
    border-radius:10%;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
    
    
}

.cadastro input{
    cursor: pointer;
    font-family:Arial;
    width: 150px;
    font-size: 100%;
    height: 50px;
    border-radius: 20%;
    border-width: 0;
    background-image: radial-gradient( #e6e600,#be151e);
    
    font-weight: bold;
}
.cadastro input:hover{
    
    border-color: black;
    border-width: 10px;
    
    font-weight: bold;
}

.texto1{

    padding: 10% 10%;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
     font-size:200%;
     text-align: center;
     
     
}


.esquerdo{
    width:100%;
    align-items: center;
    margin-left: 5%;
}
.meio{
    width:100%;
}
.direito{
    width:100%;
}

