
.menu{
    display: flex;
    width: 100%;
    background-image: linear-gradient(#be151e, black 60%);
    border: solid;
    border-width: 10%;
    height:auto;
    flex-direction: row; 
    align-items: flex-end;
    border-radius: 40%;
    border-bottom: 0;
    margin-bottom: 5%;
    padding-top: 1%;
    border-left: 0;
    border-right: 0;
    justify-content: space-around;
}
    

.login input{
    

        cursor: pointer;
        width: 150px;
        font-size: 100%;
        height: 50px;
        font-family: verdana;
        border-radius: 30%;
        top: 100px;
        border-bottom: 0;
        border-top:0;
        border-right-color: black;
        background-image: radial-gradient( #e6e600,#be151e);
        font-weight: bold;
        border-left-color: black;
        border-width:10px ;
        background-color: #000000;
        margin-right: 10%;
    

}

.login input:hover {
    background-image: radial-gradient( #e6e600,#be151e 80%);
    
 }  

 

.novidades input{
    cursor: pointer;
    width: 150px;
    font-size: 100%;
    height: 50px;
    font-family: verdana;
    border-radius: 30%;
    top: 100px;
    border-bottom: 0;
    border-top:0;
    border-right-color: black;
    background-image: radial-gradient( #e6e600,#be151e);
    border-left-color: black;
    border-width:10px ;
    background-color: #000000;
    margin-right: 10%;
    font-weight: bold;
}
.novidades input:hover {
    background-image: radial-gradient( #e6e600,#be151e 80%);
    
 } 

.sobre input{
    cursor: pointer;
    width: 150px;
    font-size: 100%;
    height: 50px;
    font-family: verdana;
    border-radius: 30%;
    top: 100px;
    border-bottom: 0;
    border-top:0;
    border-right-color: black;
    background-image: radial-gradient( #e6e600,#be151e);
    border-left-color: black;
    border-width:10px ;
    background-color: #000000;
    margin-right: 10%;
    font-weight: bold;
}
.sobre input:hover {
    background-image: radial-gradient( #e6e600,#be151e 80%);
    
 } 
 
.centralajuda input{
    cursor: pointer;
    width: 250px;
    font-size: 100%;
    height: 50px;
    font-family: verdana;
    border-radius: 30%;
    top: 100px;
    border-bottom: 0;
    border-top:0;
    border-right-color: black;
    background-image: radial-gradient( #e6e600,#be151e);
    border-left-color: black;
    border-width:10px ;
    background-color: #000000;
    margin-right: 10%;
    font-weight: bold;
}
.centralajuda input:hover {
    background-image: radial-gradient( #e6e600,#be151e 80%);
    
 } 